#main {
    margin: 10vh 0;
}

.fa-li-custom {
    font-size: 1.4em;
}

.fa-li-custom span {
    cursor: pointer;
    padding-top: 0.15em;
}

.add-todo {
    margin-bottom: 0;
}

.timer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.timer button {
    margin-left: 1em;
}

.timer button:first-child {
    margin-left: 0;
}

h5.set-timer {
    display: inline;
    margin-right: 0.5em;
}

input.set-timer {
    font-size: 1.5em;
    max-width: 3em;
}

h5.countdown-text {
    font-size: 24px;
    margin: -.25em 0 0 0;
}

h5.countdown-text.paused {
  animation: blinker 1250ms linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.25; }
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    transition: opacity .15s ease-in-out;
}

.modal.modal-open {
    visibility: visible;
    backface-visibility: visible;
    opacity: 1;
    z-index: 1;
}

.modal-inner {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-inner .modal-content {
    background-color: white;
    padding: 1em 1.25em;
    position: relative;
    margin: 2em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
}

.modal-inner .modal-content .modal-close-icon {
    cursor: pointer;
    margin-left: 1.5em;
    position: absolute;
    right: 1.5em;
}

.modal .modal-inner .modal-content .modal-content-inner h1,
.modal .modal-inner .modal-content .modal-content-inner h2,
.modal .modal-inner .modal-content .modal-content-inner h3,
.modal .modal-inner .modal-content .modal-content-inner h4,
.modal .modal-inner .modal-content .modal-content-inner h5,
.modal .modal-inner .modal-content .modal-content-inner h6 {
    margin-bottom: 0.25em;
}
.modal .modal-inner .modal-content .modal-content-inner p {
    margin: 0.5em 0;
}

.modal .modal-inner .modal-content .modal-buttons-seperator {
    margin: 1em 0;
    margin-top: 0;
}

.modal .modal-inner .modal-content .modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.modal .modal-inner .modal-content .modal-buttons button {
    margin-left: 1em;
}

.modal .modal-inner .modal-content .modal-buttons button:first-child {
    margin-left: 0;
}
